[v-cloak] {
  display: none;
}
.container{
  //max-width:680px;
  width:100%;
  padding:0;
  background-color:@bgColor;
  margin:0 auto;
}
.br(@r:50%){
  -webkit-border-radius:@r;
  border-radius:@r;
}
/*公共部分*/
.user{position:relative;float:left;display:inline-block;width:1.25rem;height:1.25rem;border-radius:50%;vertical-align:middle;margin-right:.41rem;}
.user a{display:block;}
.user .avatar{position:relative;width:1.25rem;height:1.25rem;border-radius:50%;display:inline-block;}
.content{width:100%;vertical-align:middle;line-height:.5rem;}
.content h3{color:#151515;font-size:.4375rem;font-weight:normal;padding:0.06rem 0 .156rem; vertical-align:middle;}
.content h3 span{display:inline-block;font-size:.4rem;font-weight:normal;margin-left:.1rem;}
.content p{font-size:.44rem;text-align:justify;line-height:1.5;color:#151515;}
.content span.block{text-align:left;line-height:.56rem;}
.media{display:inline-block;}
.media a{display:inline-block;}
.bubble{display:inline-block;position:relative;background:#1ccda6;width:4.375rem;line-height:1.1rem;height:1.1rem;border-radius:1.1rem;text-align:center;min-width:4rem;color:#fff;font-size:.4375rem;text-decoration:none;margin-right:.2rem;}
.bubble.bubble-red{background:#f85f48;}
.bubble .bubble-tail{width:.53rem;height:.885rem;position:absolute;top:.26rem;left:-.13rem;background-image: url("@{IMAGE-PATH}bubble.png?@{DATE}");background-size: .53rem .885rem;}
.bubble.bubble-red .bubble-tail{background-image:url("@{IMAGE-PATH}bubble-red.png?@{DATE}");}
.bubble span{color:#fff;font-size:.4375rem;}
.bubble .wave1,.bubble .wave2{display:block;width:.4rem;height:.4rem;background-size:.4rem;position:absolute;top:.3rem;left:.3rem;}
.bubble .wave1{background-image:url("@{IMAGE-PATH}wave1.png?@{DATE}");}
.bubble .wave2{background-image:url("@{IMAGE-PATH}wave2.png?@{DATE}");}
.bubble .wave3{display:block;width:.4rem;height:.4rem;background-image:url("@{IMAGE-PATH}wave3.png?@{DATE}");background-size:.4rem;position:absolute;top:.3rem;left:.3rem;}
.bubble img{position:absolute;top:.3rem;left:.3rem;width:.4rem;height:.4rem;display:none;}
.received{float:right;line-height:1rem;color:#999;font-size:.375rem;}

/*评分显示*/
.user .auth_ico{
  position: absolute;
  width: 1.44rem;
  //height: .9375rem;
  line-height: .9375rem;
  background-color:#F85F48;
  -webkit-border-radius:.468rem;
  -moz-border-radius:.468rem;
  border-radius:.468rem;
  border:2px solid #fff;
  font-size:.75rem;
  color:#fff;
  right: -0.2rem;
  bottom: 0;
  text-align:center;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
// 简单的过渡动画
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}