<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
        <title> <%= htmlWebpackPlugin.options.title %> </title>
        <script src="http://img.ggwan.com/yd/Public/forecast/yqwWX/static/lib/flexible.min.js"></script>
</head>
<body>
    <div class="container" id="app"></div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>
</html>